<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value = "https://api.nuget.org/v3/index.json" />
    <add key="dbosoft public" value="https://pkgs.dev.azure.com/dbosoft/public/_packaging/Public/nuget/v3/index.json" />
    <add key="azure-sdk-for-net" value="https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-net/nuget/v3/index.json" />s
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="dbosoft public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="azure-sdk-for-net">
      <package pattern="Microsoft.Azure.AutoRest.CSharp" />
    </packageSource>
  </packageSourceMapping>
</configuration>
